{% extends "base.html" %}
{% block content %}
    Page 1

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">



</head>
 <style>

           body {
              background-color: darkgray;
              background-size: cover;
          }
           .paragraph1 {
               font-size: 120%;
               position: relative;
               right: 200px;
           }
           .paragraph2 {
               font-size: 120%;
               position: absolute;
               top: 120px;
               right:100px ;
           }
           .paragraph3 {
               font-size: 120%;
               position: relative;
               padding-top: 280px;
               right: 200px;
           }
           .paragraph4 {
               font-size: 120%;
               position: relative;
               top: 5px;
               left: 850px;
           }
           .paragraph5 {
               font-size: 120%;
               position: relative;
               top: 20px;
               right: 5px;
           }

      </style>
<body>



    <section>
        <div class="paragraph1">
            <h2>What is Git?</h2>
            <p >Even though Git’s user interface is fairly similar to these other VCSs,</p>
            <p>Git stores and thinks about information in a very different way, and</p>
            <p>understanding these differences will help you avoid becoming confused while using it.</p>
            <br>
            <p>The major difference between Git and any other VCS (Subversion and friends included) is</p>
            <p>the way Git thinks about its data. Conceptually, most other systems store information as</p>
            <p>a list of file-based changes. These other systems (CVS, Subversion, Perforce, Bazaar, and</p>
            <p>so on) think of the information they store as a set of files and the changes made to each</p>
            <p>file over time (this is commonly described as delta-based version control).</p>
        </div>
        <br>

        <div class="paragraph2">
            <h1>What is Git branch?</h1>
            <p>Git branch distinctly sets Git apart from other VCSs community.</p>
            <p>First you must understand that git stores data by a series of snapshots.</p>
            <p>A branch in Git is simply a lightweight movable pointer to one of these commits.</p>
            <p>The default branch name in Git is master. As you start making commits, you’re given</p>
            <p>a master branch that points to the last commit you made. Every time you commit, the </P>
            <P>master branch pointer moves forward automatically.</p>
            <br>
            <p>To understand branch in Git begins with files that are modified and staged in your local repository.</p>
            <p>You must first initialize your local repository by typing "git init"</p>
            <p>This sets up the local repository for files to be added.</p>
            <p>The files are then staged to be added to your remote repository by typing the "git add ." command.</p>
            <p>By typing "git status" will show the files that have been modified and staged for commit</p>
            <p>in red text in your command prompt.</p>
            <p>The files are now ready to be committed by typing "git commit -m "write a short message"</p>
            <p>It is good practice to always type "git status " after each command to see the status.</p>
            <P>If there are no errors which all files will appear in green text to then be pushed to a branch.</P>
            <br>
        </div>
    </section>
     <div class="paragraph3">
         <h1>Creating a New Branch</h1>
         <p>The “master” branch in Git is not a special branch. It is exactly like any other branch.</p>
         <p>The only reason nearly every repository has one is that the git init command creates it by</p>
         <p>default and most people don’t bother to change it.</p>
         <p>To create a new branch you must type "git branch 'name of branch'"</p>
         <p>As mentioned earlier branches are lightweight movable pointers to commits made.</p>
         <p>Branches are for developers after files have been modified and share those files by pushing</p></p>
         <p>them to a Github remote repository.</p>
         <br>
         <p>The "master" branch can be use for production of your app project</p>
         <p>and the other branches created can be for development and testing purposes.</p>
         <br>
         <div class="paragraph4">
             <h1>What is Git merge?</h1>
             <br>
             <p>Git merge joins two or more development histories together when files have been modified since</p>
             <p>the last changes. Incorporates changes are made by commits since the last time their histories</p>
             <p>diverged from the current branch into current branch. The "git pull" command is used to integrate</p>
             <p>changes from another repository or branch into another branch.</p>
         </div>
         <br>
         <div class="paragraph5">
            <h1>What is "git tag"?</h1>
             <p>You can create, list, delete, or verify a tag object with GPG. Tagging in Git or any other VCS, refers</p>
             <p>to a process of marking specific point in history for a repository containing a project. Basically, a</p>
             <p>reference point, a GPG sign tag object is created that will verify the user.</p>
         </div>
     </div>




</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>


</body>
</html>
{% endblock %}